@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#similaritemscontainer h1,
.about-item h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-item {
  margin-top: 60px;
  padding-bottom: 60px;
}

.option {
  font-family: Inter;
  font-size: 1rem;
}

select {
  font-size: 1rem;
  width: fit-content;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  border-radius: 20px;
  display: none;
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-item.active {
  display: block;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.result-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.result-button:hover {
  background-color: #fb8d28;
}

.error-message-wrapper {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
