nav {
  align-items: center;
  display: flex;
}

main {
  padding-inline: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sb-nav {
  justify-content: space-between;
  padding: 10px 60px;
}

.sb {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

.r-s-i-wrapper {
  display: none;
}

.result-button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.result-button:hover {
  background-color: #fb8d28;
}

.error-message-wrapper {
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.cat-nav,
.sell-nav,
.back-nav {
  padding-block: 10px;
}

.back-nav {
  align-items: center;
  display: flex;
  gap: 5px;
  padding-inline: 60px;
  width: fit-content;
}

.back-nav span {
  font-size: 0.75rem;
}

.back {
  align-items: center;
  background-color: #e8eaed;
  border-radius: 50%;
  display: inline-flex;
  font-size: 12px;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.small-logo {
  display: none;
}

.sell-nav {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-inline: 40px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sell-nav-links {
  align-items: center;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  overflow: scroll;
}

.sell-nav-links a {
  color: #666;
  scroll-snap-align: end;
}

.cat-nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow: scroll;
  margin: auto;
  padding-left: 40px;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 80%;
}

#profile:hover,
#dashboard:hover,
#myprod:hover {
  color: #fb8d28;
}

#signOut:hover {
  color: #e53935;
}

.cat-nav-links a:hover {
  color: #fb8d28;
  text-decoration: underline;
}

.listbtn {
  background-color: #fb8d28;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
}

.sell-banner {
  overflow: hidden;
  width: 100%;
}

.sell-banner img {
  display: block;
  height: auto;
  width: 100%;
}

nav a {
  color: #333;
  text-decoration: none;
}

select {
  background: none;
  border: none;
}

.authlinkwrapper {
  align-items: center;
  display: flex;
  gap: 30px;
  position: relative;
}

i {
  color: #fb8d28;
  font-size: 12px;
}

.authlinkwrapper a {
  color: #fb8d28;
  font-size: 0.875rem;
}

.leftnav {
  align-items: center;
  display: flex;
  gap: 30px;
}

.leftnav a {
  font-size: 0.875rem;
}

.cart {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.cart-count {
  align-items: center;
  background-color: #28a745;
  border-radius: 50%;
  color: #fff;
  display: none;
  height: 1em;
  justify-content: center;
  position: absolute;
  right: -2px;
  top: 0px;
  width: 1em;
}

.cart-count span {
  font-size: 10px;
}

.searchbar {
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 40px;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  min-width: 200px;
  padding-inline: 20px;
  position: relative;
  width: 70%;
}

.searchmatch {
  background-color: #eee;
  border-radius: 10px;
  display: none;
  left: 0;
  padding-block: 20px;
  position: absolute;
  top: 110%;
  width: 100%;
  z-index: 99999;
}

.search {
  border: none;
  font-size: 20px;
  height: 100%;
  outline: none;
  padding: 10px;
  width: 100%;
}

.search::placeholder {
  font-size: 15px;
}

.searchbtn {
  background-color: #fb8d28;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 10px 40px;
}

.shoplift-dd {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 10px #555;
  display: none;
  padding: 10px;
  position: absolute;
  top: 100%;
}

.shoplift-dd li {
  flex-wrap: nowrap;
  list-style: none;
}

.shoplift-dd ul a {
  flex-wrap: nowrap;
  font-size: 12px;
}

.shoplift-dd ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: fit-content; */
}

.s-dd-menu {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.product-tray {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.product-wrapper {
  border-radius: 10px;
  display: flex;
  gap: 30px;
  overflow: scroll;
  padding-bottom: 20px;
  width: 100%;
}

.product-img {
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.price-container {
  border-top: 1px solid #555;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-block: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  max-width: 250px;
  min-height: 150px;
  width: 250px;
}

.product img {
  width: 100%;
}

.sellercard {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.sellercard img {
  background-color: grey;
  border-radius: 50%;
}

.sellercardlinks {
  display: flex;
  flex-direction: column;
}

.sell-btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sell-btn-container a {
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.sell-btn-container div {
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.sell-btn-container a:nth-child(1) {
  background-color: #fb8d28;
  color: #fff;
}

.sell-btn-container a:nth-child(2) {
  border: 1px solid #fb8d28;
  color: #fb8d28;
}

.sell-btn-container a:nth-child(2):hover {
  background-color: #fb8e2820;
}

.k-v {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 90px 1fr;
}

.sign-out {
  align-items: start;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  bottom: -140px;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  width: fit-content;
  z-index: 99999;
}

.sign-out button {
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  padding: 2px;
}

@media (max-width: 42.1875rem) {
  .none {
    display: none;
  }
}

@media (max-width: 49.9375rem) {
  .sell-nav {
    padding: 10px;
  }

  .searchbtn,
  .left-s-icon {
    display: none;
  }

  .small-logo {
    display: block;
    height: 20px;
  }

  .big-logo {
    display: none;
  }

  .sb-nav,
  main,
  .back-nav {
    padding-inline: 20px;
  }

  .searchbar {
    padding-right: 10px;
  }

  .r-s-i-wrapper {
    align-items: center;
    background-color: #fb8d28;
    border-radius: 50%;
    display: flex;
    font-size: 14px;
    height: 3em;
    justify-content: center;
    width: 3em;
  }
}

@media (min-width: 64rem) {
  .col {
    display: grid;
    gap: 10%;
    grid-template-columns: 50% 40%;
  }
}
